[submodule "incubator-nuttx"]
	path = nuttx
	url = https://github.com/apache/incubator-nuttx.git
[submodule "esp-nuttx-bootloader"]
	path = esp-nuttx-bootloader
	url = https://github.com/espressif/esp-nuttx-bootloader.git
[submodule "nuttx-apps"]
	path = nuttx-apps
	url = https://github.com/saimizi/nuttx-apps.git
